<h2>Suggested Recipes</h2>

<div class="recipe-list-block">
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-name row">
        <%= link_to recipe.name, recipe_path(recipe), class: "small-6 columns" %>
        <%= button_to 'Add to cart', recipe_cart_path, method: :put, params: { recipe_id: recipe.id }, class: "delete-from-index-button button tiny round inline left" %>
      </div>
      <div class="small-12 columns recipe-info-index">
        <span class="recipe-info-attr"><%= recipe.complexity_rating %></span>
        <span class="recipe-info-attr"><%= recipe.cooking_time_min %></span>
        <span class="recipe-info-attr"><%= recipe.num_served %></span>
        <% if recipe.categories.present? %>
          <% recipe.categories.each do |category| %>
            <span class="category-name">
              <%= category.name %>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    No matches found.
  <% end %>
  <%= button_to 'Back to cart', recipe_cart_path, method: :get, class: "recipe-button button expand round medium" %>
  <%= button_to 'Back to recipes', recipes_path, method: :get, class: "recipe-button button expand round medium" %>
</div>
