<% if not current_user.present? %>
  <h3><%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to add recipes!</h3>
<% else %>
  <div class="row recipe-index-header">
    <span class="small-3 column your-recipes">Your Recipes</span>
    <span class="small-4 column add-recipe-index end">
      <%= button_to "Add a new recipe", new_recipe_path, method: :get, class: "inline button recipe-button round expand" %>
    </span>
  </div>
  <div class="recipe-list-block">
    <% @recipes.each do |recipe| %>
      <div class="recipe-name small-12 columns">
        <span><%= link_to recipe.name, recipe_path(recipe), class: "small-6 columns" %>
        <%= button_to 'Add to cart', recipe_cart_path, method: :put, params: { recipe_id: recipe.id }, class: "delete-from-index-button button tiny round inline left" %>
        <%= button_to "Edit", edit_recipe_path(recipe), class: "delete-from-index-button button tiny round inline left", method: :get %></span>
        <%= button_to "Delete", recipe, class: "delete-from-index-button button tiny round inline left", method: :delete %></span>
      </div>
      <div class="recipe-info-index">
        <span class="recipe-info-attr"><%= recipe.complexity_rating %></span>
        <span class="recipe-info-attr"><%= recipe.cooking_time_min %></span>
        <span class="recipe-info-attr"><%= recipe.num_served %></span>
        <% if recipe.categories.present? %>
          <% recipe.categories.each do |category| %>
            <span class="category-name">
              <%= category.name %>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
