<h1>Information for <%= @user.username %></h1>

<div class="info info-user">
  <div>Name: <%= @user.full_name %></div>
  <div>Email: <%= @user.email %></div>
  <%= button_to "Edit your info", edit_user_registration_path(@user), class: 'recipe-button button expand round medium', method: :get %>
  <%= button_to "Delete Account", @user, class: 'recipe-button button expand round medium', method: :delete %>
</div>
