<h1>Category List</h1>

<%= form_for @category do |form| %>
  <%= form.text_field :name, id: "category-input", placeholder: "Add a category"%>
  <%= form.submit "Add a category", class: "button round medium" %>
<% end %>

<% @categories.each do |category| %>
  <div class="category-entry">
    <%= category.name %>
    <%= button_to "Edit", edit_category_path(category), method: :get %>
    <%= button_to "Delete", category, method: :delete %>
  </div>
<% end %>
