<h2>@user.username</h2>

Name: <%= @user.full_name %>
Email: <%= @user.email %>
Joined: <%= @user.created_at %>
Last sign-in: <%= @user.last_sign_in_at %>

<% if @user.role != 'moderator' %>
  <%= button_to 'Make moderator', admin_user_path(@user), method: :patch, params: { user: { role: "moderator" }, class: "set-privilege-button button tiny round inline left" %>
<% end %>
