<!DOCTYPE html>
<html>
<head>
  <title>BreakableRecipes</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Chivo:400,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="top-bar">
    <section class="top-bar-section left">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Breakable Recipes</a></h1>
        </li>
        <% if current_user %>
          <% if current_user.moderator? %>
            <li class="topbar-link">
              <%= link_to 'Categories', categories_path %>
            </li>
            <li class="topbar-link">
              <%= link_to 'Ingredients', ingredients_path %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <div class="body row">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
